@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
.title {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  padding: 30px;
}

.collapse {
  /* position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s; */
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-size: 35px;
}

.navbar-brand:hover {
  color: white;
}

.nav-link:hover {
  color: black;
}

.link-active {
  text-decoration: underline 5px;
  text-underline-offset: 8px;
}

.link-active:hover {
  color: black;
}

.navbar-toggler {
  background-color: white;
}

.cart {
  display: flex;
  position: absolute;
  color: rgb(161, 161, 161);
  top: 40px;
  right: 300px;
  font-size: 35px;
  margin: 0 20px;
}

.user {
  position: absolute;
  color: rgb(161, 161, 161);
  top: 40px;
  right: 250px;
  font-size: 35px;
  margin: 0 20px;
}

@media (max-width: 768px) {
  .cart {
    top: 100px;
    left: 10px;
    font-size: 30px !important;
    z-index: 99;
  }

  .user {
    top: 100px;
    left: 60px;
    font-size: 30px !important;
    z-index: 99;
  }
}